body{	background-image: url('../design/images/bg.jpg');	background-repeat: no-repeat;	background-position: 50% 50%;	background-attachment: fixed;	background-size: cover;
}
h1{
    text-align: center;
    font-size: 1.6em;
    color: #71717E;
}
span{
    font-weight: bold;
}
.copyright{
    text-align: center;
    width: 100%;
    float: left;
}table tr:hover td {    background-color: rgb(225,225,225);}.panel-default {	border-radius: 0px;	border: 1px solid rgb(216, 216, 216);	background-color: rgba(255,255,255,0.8);	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);}.panel-body img {	width: 60px;	height: 60px;}